body {
  margin: 0;
  padding: 0;
  background: #0a0b24;
  --gap: 5em;
  --line: 1px;
  --color: #6e6189;

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
  font-family: 'Montserrat', sans-serif;
}




.resflex {
  display: grid;
  margin:auto auto;
  grid-template-columns: repeat(3, 1fr); /* Create 3 columns */
  grid-template-rows: auto; /* Automatically adjust rows based on content */
  justify-content: center; /* Center grid items horizontally */
  align-items: center; /* Center grid items vertically */
  gap: 5vh; /* Add spacing between grid items */
}

.icon {
  vertical-align: middle;
  color: #9c90aa;
  line-height: 1px;
  font-size: 20px;
}
.big{
  font-size: 40px;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon, .icon_header {
  margin-right: 5px;
}

.close_icon {
  color: #cbc9cc;
  margin-left: 30px;
  margin-top: 10px;
  scale: 1.4;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
  width: 100vw;
}

/* Header  */
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}
/* End Header  */

/* Sidebar  */
#sidebar {
  grid-area: sidebar;
  /* height: 100%; */
  background-color: #443a67;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border-right: #9c90aa 2px solid;
 display: flex;
  flex-direction: column; /* Ensures the footer stays at the bottom */
  height: 100vh;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 15px 30px;
  background-color: #211e46;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #cbc9cc;
  
}

/* .sidebar-list {
  padding: 0;
  list-style-type: none;
 
} */
.sidebar-list {
  flex: 1; /* Pushes the footer to the bottom */
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebarflex{
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}
footer {
  text-align: center; /* Center-aligns the footer text */
  padding: 10px;
   /* Optional: Background color for the footer */
  font-size: 12px;
  color: #000003; /* Optional: Footer text color */
}


.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 1.3rem;
  
}

.sidebar-list-item:hover {
  background-color: #6e6189;
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #f8f8f8;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}

/* End Sidebar  */


/* Main  */  
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.card:first-child {
  background-color: transparent;
  border: 4px white solid;
  border-radius: 15px;
  background-color: #f0555549;
}

.card:nth-child(2) {
  background-color: transparent;
  border: 4px red solid;
  border-radius: 15px;background-color: #ec2e2e49;
}

.card:nth-child(3) { background-color: transparent;
  border: 4px red solid;
  border-radius: 15px;background-color: #e6050549;
}

.card:nth-child(4) {
  background-color: transparent;
  border: 4px red solid;
  border-radius: 15px;background-color: #aa080849;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

/* End Main  */


/* Medium <= 992px */
  
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
  .resflex {
    display: grid;
    margin:auto auto;
    grid-template-columns: repeat(2, 1fr); /* Create 3 columns */
    grid-template-rows: auto; /* Automatically adjust rows based on content */
    justify-content: center; /* Center grid items horizontally */
    align-items: center; /* Center grid items vertically */
    gap: 5vw; /* Add spacing between grid items */
  }
  
}
/* Small <= 768px */
  
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
  
.resflex {
  display: grid;
  margin:auto auto;
  grid-template-columns: repeat(2, 1fr); /* Create 3 columns */
  grid-template-rows: auto; /* Automatically adjust rows based on content */
  justify-content: center; /* Center grid items horizontally */
  align-items: center; /* Center grid items vertically */
  gap: 5vw; /* Add spacing between grid items */
}

}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
  .resflex {
    display: grid;
    margin:auto auto;
    grid-template-columns: repeat(1, 1fr); /* Create 3 columns */
    grid-template-rows: auto; /* Automatically adjust rows based on content */
    justify-content: center; /* Center grid items horizontally */
    align-items: center; /* Center grid items vertically */
    gap: 5vw; /* Add spacing between grid items */
  }
  
}





/* for scehdule */




td {
  border: 2px solid #4e0404;
  padding: 10px;
  font-size: 1.2rem;
}

th {
  border: 2px solid #ee7676;
  
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 30px;
  background-color: #360202;
  color: rgb(226, 204, 204);
}

.highlight {
  background-color: #691624;
  font-weight: bold;
}

.special {
  background-color: #dce79a;
  font-weight: bold;
  text-transform: uppercase;
  color: #360202;
}

/* Responsive Styles */
@media (max-width: 768px) {
  table {
    font-size: 12px;
  }
  th, td {
    padding: 6px;
  }
}


/* From Uiverse.io by Cornerstone-04 */ 
.cards {
  perspective: 500px;
}

.card1 {
  width: 90%;
  margin-left: 5%;
  height: 20vh;
  background: #16161d00;
  border: 2px solid #9c90aa;
  border-radius: 4px;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform .5s;
}

.card1:hover {
  transform: translateZ(10px) rotateX(10deg) rotateY(10deg);
}

.card_title {
  color: #fff;
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  transition: transform .5s;
  font: 700 1.5rem monospace;,  
   
}

.card1:hover .card_title {
  transform: translateZ(20px);
}



/* resource */


a{
  text-decoration: none;
  color: #f79595;
}
/* From Uiverse.io by JoseArjona */ 
.card2 {
  background-color: #1f1e27;
  border: 3px solid #ff2802;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 30px 20px;
  color: #ff3c00;
  border-radius: 45px;
  text-align: center;
  width: 200px;
}

.App-logo {
  pointer-events: none;
  margin-top: -10px;
}

.App-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #dfd5c7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  border: 3px solid #fafafa;
  border-radius: 5em;
  margin-top: 20px;
  transition: 0.2s;
  cursor: pointer;
}

.App-button:hover {
  color: #1e2127;
  background-color: #ff0000;
}

@media (prefers-reduced-motion: no-preference) {
  .card:hover .App-logo {
    -webkit-animation: wobble-hor-bottom 0.9s ease-in both;
    animation: wobble-hor-bottom 0.9s ease-in both;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-21 16:40:58
 * Licensed under FreeBSD License.
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}









.main-cards1 {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}












/* studinfo */

/* From Uiverse.io by SouravBandyopadhyay */ 
.notification {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 18rem;
  height: 8rem;
  background: #29292c;
  border-radius: 1rem;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #5f0808, #fc2323, #bdec50);
  --color: rgb(224, 74, 74);
}

.notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #18181b;
  z-index: 2
}

.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.notification:hover:after {
  transform: translateX(0.15rem)
}

.notititle {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notititle {
  transform: translateX(0.15rem)
}

.notibody {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notibody {
  transform: translateX(0.25rem)
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.notification:hover .notiglow {
  opacity: 0.1
}

.notification:hover .notiborderglow {
  opacity: 0.1
}

.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}




.flexbox {
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Aligns items horizontally */
  align-items: center; /* Aligns items vertically */
  gap: 1rem; /* Adds spacing between items */
  flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
  padding: 1rem; /* Adds padding inside the container */
  margin: 0 auto; /* Centers the container (if block-level) */
  width: 95%; /* Optional: Sets the width of the container */background-color: transparent; /* Background color for visibility */
  
 
}


.searchbox{
  width:50%;
  margin-left:23%;
  padding: 2px;
  font-size: larger;
  border-radius: 15px;
  text-align: center;
  color: black;
  margin-right: 20px;
  margin-bottom: 5vh;
}
.searchbox::placeholder{
  color: #680404;
}


.resflex {
  
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Aligns items horizontally */
  align-items: center; /* Aligns items vertically */
  gap: 1rem; /* Adds spacing between items */
  flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
  padding: 1rem; /* Adds padding inside the container */
  margin: 0 auto; /* Centers the container (if block-level) */
  width: 95%; /* Optional: Sets the width of the container */background-color: transparent; /* Background color for visibility */
  
 

}

h4{
  color: #9c90aa;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.formbox{
  background: #df3a3a;
}

form{
  color: #dbd5d5;
  text-align: center;
  padding: 30px;
}
input{
  background: #e76969;
}
.chart{
  width:100%;
  height: 400px;

}
.chart-title{
  margin-bottom: 10vh;
  text-align: center;
  width: 100%;
  
}
.chart-title1{
  margin-bottom: 10vh;
  width: 80vw;
  text-align: center;
}






.results-section{
  border: ;
}